{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs" aria-hidden="true">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    {{ career-profile.summary | markdownify }}
  </div><!--//summary-->

  {% assign stack = site.data.data.sidebar.stack %}
  {% if stack %}
  <ul class="stack-badges" role="list">
    {% for element in stack %}
    <li class="stack-badge" role="listitem">{{ element.item }}</li>
    {% endfor %}
  </ul>
  {% endif %}

</section><!--//section-->
{% endif %}
