{% assign interests = site.data.data.sidebar.interests %}
{% if interests %}
<section class="interests-container container-block" aria-label="Interests">

  <h2 class="container-block-title">
    Interests
  </h2>

  <ul class="list-unstyled interests-list">
    {% for interest in interests %}
      {% if interest.link %}
      <li><a href="{{ interest.link }}" target="_blank" rel="noopener noreferrer">{{ interest.item }}</a></li>
      {% else %}
      <li>{{ interest.item }}</li>
      {% endif %}
    {% endfor %}
  </ul>

</section><!--//interests-->
{% endif %}
