{% assign sidebar = site.data.data.sidebar %}

<div class="profile-container">

  {% if sidebar.name %}
  {% if sidebar.avatar %}
  <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="{{ sidebar.name }} profile picture" width="100" height="100" loading="lazy" decoding="async" />
  {% endif %}
  <h1 class="name">{{ sidebar.name }}</h1>
  {% endif %}

  {% if sidebar.tagline %}
  <p class="tagline">{{ sidebar.tagline }}</p>
  {% endif %}

</div><!--//profile-container-->

{% include contact.html %}

{% include stack.html %}

{% if sidebar.education %}
  {% include education.html %}
{% endif %}

{% include language.html %}
{% include interests.html %}
