@media print {
  @page {
    size: A4;
    margin: 1cm;
  }

  body {
    font-size: 12pt;
    padding: 0;
  }

  .wrapper {
    max-width: 100%;
    box-shadow: none;
  }

  .hero-banner {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .main-wrapper {
    padding: 30px;
  }

  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
    color: black !important;
  }

  .section {
    page-break-inside: avoid;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  p, li {
    orphans: 3;
    widows: 3;
  }

  img.avatar {
    filter: grayscale(1);
  }

  footer {
    display: none;
  }

  .skillset .level-bar-inner {
    background-color: black !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .fa-inverse,
  .fa-inverse:after,
  .fa-inverse:before {
    color: #ffffff !important;
  }
}
