/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  body {
    padding: 0;
  }

  .main-wrapper {
    padding: 30px;
  }

  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }

  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .skillset .item {
    display: flex;
    align-items: center;
  }

  .skillset .level-title {
    width: 30%;
    margin-bottom: 0;
    flex-shrink: 0;
  }

  .skillset .level-bar {
    width: 70%;
    position: relative;
    top: 1px;
  }
}
